<div class="target-show">
  <div class="target-text">
    <div class="target-title">
      <b>目標</b><br>
      <%= @target.title %>
    </div>
    <div class="target-genre">
      <b>ジャンル</b><br>
      <%= @target.genre.name %>
    </div>
    <div class="target-deadline">
      <b>期日</b><br>
      <%= @target.deadline %>まで
    </div>
    <div class="target-plan">
      <b>アクションプラン</b><br>
      <%= @target.plan %>
    </div>
    <div class="target-great-man">
      <b>目標の人物</b><br>
      <%= @target.great_man %>
    </div>
    <div class="terget-future">
      <b>目標達成後の自分はどうなっている</b><br>
      <%= @target.future %>
    </div>
  </div>
  <div class="target-image">
    <b>イメージ写真</b><br>
    <%= image_tag @target.image.variant(resize: '500x500'), class: 'target-image' if @target.image.attached? %>  
  </div>

  <% if user_signed_in? && current_user.id == @target.user_id %>
    <%= link_to "編集", edit_target_path(@target.id), method: :get, class: "target-edit-btn" %>
  <% end %>
</div>