<div class="contents row">
  <p><%= @name %>さんの目標一覧</p>
  <% @targets.each do |target| %>
    <div class="content_post" style="background-image: url(<%= target.image %>);">
      <p><%= target.title %></p>
      <p><%= target.deadline %></p>
    </div>
  <% end %>
  <%# <%= link_to '投稿する', new_target_path, method: :get %>
</div>
<%= link_to(new_target_path, class: 'target-icon') do %>
<%= image_tag 'logo.png' , size: '100x100' ,class: "target-btn-icon" %>
<% end %>