<!DOCTYPE html>
<html>
  <head>
    <title>GrowUpMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <header class="header">
      <div class="header__bar_row">
        <h1 class="grid-1"><a href="/">Grow up me</a></h1>
        <% if user_signed_in? %>
          <div class="grid-2">
            <%= link_to "投稿する", new_target_path, class: "post" %>
            <% if current_page?(user_path(current_user.id))%>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "post"%>
            <% else %>
              <%= link_to "マイページ", user_path(current_user.id), class: "post" %>
            <% end %>
            <%# <%= link_to current_user.name, user_path(current_user.id), id: "userpost", class: "post" %>
            <%# <ul class="usermodal hidden" id="pull-down">
              <><%= link_to "マイページ", user_path(current_user.id), class: "post" %>
              <%# <><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "post"%>
            <%# </ul> %>
          </div>
        <% else %>
          <div class="grid-2">
            <%= link_to "ログイン", new_user_session_path, class: "post" %>
            <%= link_to "新規登録", new_user_registration_path, class: "post" %>
          </div>
        <% end %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
